[submodule "roles/users"]
	path = roles/users
	url = https://github.com/mivok/ansible-users.git
[submodule "roles/openssh"]
	path = roles/openssh
	url = https://github.com/Ansibles/openssh.git
[submodule "roles/nodejs"]
	path = roles/nodejs
	url = https://github.com/AnsibleShipyard/ansible-nodejs.git
[submodule "roles/Ansibles.build-essential"]
	path = roles/Ansibles.build-essential
	url = https://github.com/Ansibles/build-essential.git
[submodule "roles/Ansibles.erlang"]
	path = roles/Ansibles.erlang
	url = https://github.com/Ansibles/erlang.git
[submodule "roles/Ansibles.nginx"]
	path = roles/Ansibles.nginx
	url = https://github.com/Ansibles/nginx.git
[submodule "roles/Ansibles.hostname"]
	path = roles/Ansibles.hostname
	url = https://github.com/Ansibles/hostname.git
[submodule "roles/Ansibles.apt"]
	path = roles/Ansibles.apt
	url = https://github.com/Ansibles/apt.git
[submodule "roles/Ansibles.perl"]
	path = roles/Ansibles.perl
	url = https://github.com/Ansibles/perl.git
[submodule "roles/Ansibles.monit"]
	path = roles/Ansibles.monit
	url = https://github.com/Ansibles/monit.git
